.facility{
    padding: 1.3em;
    
}
.facility-title h2{
    text-align: center;
    font-size: 2rem;
}

.facility-text{
    margin-top: 1.2em;
}
.facility-grid{
    display: block;
}

.facility-img img{
   max-width:100%;
}

/* Home link */

.home-link a:link{
font-size: 1.6rem;
}
.home-link a:visited{
 color: blue;
 }

.home-link a:hover{
color: #a2a2a2;
}
    
