* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    background-color: rgb(240, 240, 240);
    color: rgb(11, 11, 11);

}


/*-------------------*/
/* typography        */
/*-------------------*/

.hero-text {
    font-size: 3.5rem;
    color: #fff;
    opacity: .9;
    margin-bottom: 0;

}

.hero-subtext {
    margin-top: 2em;
    color: #fff;
    font-weight: 300;
    opacity: .9;
}

.info-text {

    font-weight: 1.5rem;
}

.info-text__small {

    font-size: 1rem;
}

.info-subtext {
    font-size: 1rem;
    line-height: 1.7;
}

.bold {
    font-weight: 900;
}

/* image */

.hero-section {

    background-image: url(https://media.istockphoto.com/id/599995238/photo/healthiness-and-happiness-go-hand-in-hand.webp?s=612x612&w=is&k=20&c=MeWgrryy15-vIn1U998qeklyckwrOevaHohxkVjP7EM=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-blend-mode: multiply;
    background-color: #5f5f5f;
    height: 100%;
    padding: 8em 0 8em;
}


/*-------------------*/
/* navigation        */
/*-------------------*/


.header-main {
    background-color: #3085b3;
    height: 100%;
    padding: 0.6em;
}

.header-content {
    padding: 0;
    margin: auto;
}

.logo {
    border: 2px solid red;
    display: block;
}

.nav__list-main {

    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 4.5em;
    font-size: .85rem;
    margin-right: 1.9em;
    font-weight: 300;
}

.nav-items {

    padding: 2em 3em;
    margin: 0 2em;
    position: relative;
}

.nav__links {


    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}

.nav__links:hover,
.nav__links:focus {

    color: #5df833;

}

.nav-sub__items {
    list-style: none;
}

.nav-sub-list__items {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
}