* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    background-color: rgb(240, 240, 240);
    color: rgb(11, 11, 11);

}


/*-------------------*/
/* typography        */
/*-------------------*/

.hero-text {
    font-size: 3.5rem;
    color: #fff;
    opacity: .9;
    margin-bottom: 0;

}

.hero-subtext {
    margin-top: 2em;
    color: #fff;
    font-weight: 300;
    opacity: .9;
}

.info-text {

    font-weight: 1.5rem;
}

.info-text__small {

    font-size: 1rem;
}

.info-subtext {
    font-size: 1rem;
    line-height: 1.7;
}

.bold {
    font-weight: 900;
}

/* image */

.hero-section {

    background-image: url(https://media.istockphoto.com/id/599995238/photo/healthiness-and-happiness-go-hand-in-hand.webp?s=612x612&w=is&k=20&c=MeWgrryy15-vIn1U998qeklyckwrOevaHohxkVjP7EM=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-blend-mode: multiply;
    background-color: #5f5f5f;
    height: 100%;
    padding: 8em 0 8em;
}


/*-------------------*/
/* navigation        */
/*-------------------*/


.header-main {
    background-color: #3085b3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;

}



.logo {
    margin-right: auto;
    font-size: 2rem;
    color: #fff;

}


.navbar {
    overflow: hidden;
    background-color: rgb(49, 97, 218);
}

.navbar .nav-links {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar .nav-links:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}