*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 100%;
    --primary: #09b92f;
    --hover: #ff0191;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f3f7ff;
}

.custom-clr {
    background-color: #212122;
}




/* NAVBAR */


.logo-img {
    width: 80%;
    padding-left: 2em;
}

/* HERO MAIN */

.hero {
    background-image: url(../img/beautiful-day-have-meal-together.jpg);
    background-color: #555556;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hero-main-title {
    font-size: 2.7rem;
    color: #f0f0f0;
    padding-left: .6em;
    padding-top: 1em;
}

.hero-info {
    color: #f0f0f0;
    font-size: 1.2rem;
    font-weight: 200;
    padding-left: 1em;
    padding-top: .8em;
}

.hero-btn {
    padding: 1.4em .9em;
}

.btn-main {
    background-color: var(--primary);
    color: #f0f0f0;
    font-size: 1.2rem;
    font-weight: 200;
    padding: .6em 1em;
}

.btn-main:hover {
    background-color: var(--hover);
    color: #f0f0f0;
    text-decoration: underline;
}

.navbar-toggler {
    color: #09b92f;
}

.navbar-toggler-icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 285, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* MAIN CONTENT */

.columns{
    background-color: #f7f8ff;
    display: block;
    padding: .8em;
}

.info-info-subtitle{
    font-size: 2.2rem;
}

.texture-menu{
    list-style: square;
    font-size: 1.6rem;
    font-weight: 300;
}

.info__para-text{
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
    max-width: 100%;
}

.times{
    font-size: 1.6rem;
    list-style: square;
}

/* CANADIAN FOOD GUIDE */
.food-guide{
    margin-top: 2em;
    padding: 2em 1.2em;
    display: block;
    background-color:#e7eef9;
}


.food-guide__img img{
    max-width: 100%;
    padding-bottom: 1em;
}

.btn-link{
    padding-top: .9em;
}

.btn-link a {
   font-size: 1.4rem;
}

.btn-link a:hover {
    color: #776acc;
 }
.news-container{
    margin-top: 2em;
}

.news-info-read{
    padding: 1.2em;
    background-image: url(../img/sailsbury-steak.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #555556;
    background-blend-mode: multiply;
}

.news-title,.news-para{
    color: #f0f0f0;
}

.news-title{
    font-size: 2.6rem;
}

.news-para{
    width: 90%;
}

.news-btn{
    background-color: #ff0191;
    color: #f0f0f0;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    margin-top: .8em;
    margin-bottom: 3.4em;
    padding: .8em;
}

iframe{
    width: 100%;
}
/* Footer */
.footer{
    display: block;
    background-color: #212122;
    color: #f0f0f0;
}

.contact-us-title{
    padding: .7em;
    font-size: 2rem;
    text-align: center;
}

.flex-footer{
    display: block;
}

.contact-menu{
    list-style: none;
}

.contact-list{
    padding-bottom: .9em;
    font-size: 1.2rem;
}

.sub-container{
    margin-left: 1.2em;
    padding: 1.2em;
}

.sub-btn{
    background-color: transparent;
    border: 2px solid #f0f0f0;
    font-size: 1rem;
    color: #f0f0f0;
    padding: .8em 7.5em;
}

.copyright{
    padding: 1.2em;
    text-align: center;
}
/* Footer icons */

.fa-house,
.fa-envelope,
.fa-phone{
    padding-right: .6em;
    font-size: 1.3rem;
}

/* Policy page */

.policy-container{
    margin: 1.3em;
}
/* 404 PAGE */
.not-found {
    text-align: center;
    padding-top: 3em;
}

.title-not-found {
    font-size: 6rem;
}

.info-not-found {
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 1.5em;
}

.not-found-link {
    font-size: 1.5rem;
}


/* ICONS */

.icon {
    font-size: 6rem;
}

.fa-check,
.fa-bowl-food,
.fa-utensils,
.snacks-title,
.fa-comment{
    color: #776acc;
}

.fa-comment{
    font-size: 14rem;
}

/* MEDIA QUERY */

@media screen and (min-width:480px) {
    .logo-img {
        width: 60%;
        padding-left: 2em;
    }

    .hero {
        background-position: center;
        height: 80%;
    }

    .hero-main-title {
        font-size: 3.5rem;
        width: 80%;
    }

    .hero-info {
        font-size: 2rem;
    }

    .hero-btn {
        padding: 2em 1.5em;
    }

    .columns {
        display: flex;
        flex-direction: column;
    }
    .info__para-text{
        font-size: 1.25rem;
    }

    .times{
        font-size: 1.2rem;
        list-style: square;
    }

    .info-info-subtitle{
        font-size: 1.6rem;
    }

    .food-guide{
        display: block;
    }

    .guide-container .info__para-text{
        margin-top: 3em;
    }

    .food-guide__img img{
        max-width: 100%;
        padding-bottom: 1em;
        padding-right: 2em;
    }

    .help-container{
        margin-top: 2em;
        padding: 2em 1.2em;
        display: block;
    }

    .subnews{
        text-align: center;
        font-size: 2.3rem;
    }
    .news-btn{
        margin-bottom: 4em;
    }
    
}

@media screen and (min-width:780px) {
    .logo-img {
        width: 60%;
        padding-left: 2em;
    }

    .hero {

        background-size: top;
        height: 100%;
    }

    .hero-main-title {
        font-size: 3.5rem;
        width: 80%;
    }

    .hero-info {
        font-size: 2rem;
    }

    .hero-btn {
        padding: 2em 1.5em;
    }

    .columns{
       background-color: #f7f8ff;
       display: grid;
       grid-template-columns: repeat(3, 1fr);
    }

    .info__col-sub{
        padding: 1.3em;
    }

    .info__para-text{
        font-size: 1rem;
    }

    .times{
        font-size: 1.4rem;
    }

    .info-info-subtitle{
        font-size: 1.8rem;
    }

    .food-guide,.help{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .food-guide__img img{
        max-width: 100%;
        padding-bottom: 1em;
        padding-right: 2em;
    }
    
    .news-title{
        font-size: 2.9rem;
        padding-bottom: 1.6em;
    }
    
    .news-para{
        width: 80%;
        font-size: 1.6rem;
    }
    
    .news-btn{
       
        border-radius: 8px;
        font-size: 1.2rem;
        margin-top: .8em;
        padding: .8em;
    }

    .subnews{
        text-align: center;
        font-size: 2.3rem;
    }

    .news-btn{
        margin-bottom: 4em;
    }

    .flex-footer{
        display: flex;
        justify-content: space-around;
        padding: 1.2em;;
    }

    .copyright{
        padding-top: 1em;
        padding-bottom: 2em;
        text-align: center;
    }

    .form-container{
        padding: 2em 1.2em;
    }
    
    form{
        display: flex;
        gap: .4em
    }
    
    label{
        font-size: 1.4rem;
        font-weight: 200;
    }
    .info__para-text{
        font-size: 1.3rem;
    }
    
    .policy-container{
        margin: 2em;
    }
    
}


@media screen and (min-width:960px) {
    .logo-img {
        width: 50%;
        padding-left: 2em;
    }

    .hero {
        background-position: center;
        background-size: cover;
    }

    .hero-main-title {
        font-size: 3.5rem;
        width: 60%;
    }

    .hero-info {
        font-size: 2rem;
    }

    .hero-btn {
        padding: 3em 1.8em;
    }

    .btn-main {
        font-size: 1.3rem;
        padding: .5em 1.5em;
    }

    .info__para-text{
        font-size: 1.3rem;
    }
    .subnews{
        text-align: center;
        font-size: 2.6rem;
    }

}